body {margin: 0; padding: 0; border: 0; box-sizing:border-box;}
div, button {
    font-family: "Playfair Display", serif;
}

.external-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(20, 10, 29);
}

.header-container {
    background-image: url(/Week_3_Exercises/Data/background.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    
}

.nav-container {
    height: 25px;

}


.navigate {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.bottom-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    color: antiquewhite;
    background-color: rgb(81, 66, 87);
    
}

.footer {
    display: flex;
    justify-content: start;
    padding: 10px;
    color: rgb(205, 210, 214);
    background-color: rgb(20, 17, 31);
}

@media only screen and (max-width: 340px) {

    .header-container {
        background-image: url(/Week_3_Exercises/Data/background.jpg);
        background-size: cover;
        background-position: center;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        text-align: center;
        flex-shrink: 5;
        
    }

    .nav {
        font-size: 2vh;
    }

}

@media only screen and (max-width: 450px) {

    .nav-container {
        display: flex;
        justify-content:center; 
        padding-left: 10px;
        padding-right: 40px;
    }
    
    .navigate {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

    .nav {
        padding-left: 1vh;
        padding-right: 1vh;
    }
}

@media only screen and (max-width: 885px){


    .center-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
    }
    
    .sub-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vh;
        color: aliceblue;
    }
    
    .footer {
        display: flex;
        justify-content: start;
        color: rgb(205, 210, 214);
        background-color: rgb(20, 17, 31);
    }

    #cp {
        font-size: 2vh;
    }

    #kar {
        width: 3vh;
    }
}

@media only screen and (min-width: 886px){
    .center-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .sub-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5vh;
        color: aliceblue;
    }
    }
.descrip {
    margin: 1vb;
}


a {
    text-decoration: none;
    color: rgb(240, 231, 231);
}

img {
    margin: 1vb;
}

#title {
    font-family: 'La Belle Aurore', cursive;
    color:rgb(27, 5, 41);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#kar {
    width: 5vh;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto\9;
}