*{margin: 0; padding: 0; border: 0; box-sizing: border-box;}
div, button {
    font-family: "Playfair Display", serif;
}

.header-container {
    background-image: url(/Week_3_Exercises/Data/background.png);
    background-size: 10S0vh;
    height: 80vh;
}

.navigate {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}